<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <title>HomePage</title>
</head>

<body>
    <%- include('partials/nav') %>
    <h1>Hey KY hal hai kaise ho babu</h1>
    <%- include('partials/scripts') %>
</body>

</html>